@media screen and (max-width: 576px) {
  /* Navbar */
  #home,
  #shop,
  #aboutus {
    display: none;
  }

  .nav-logo {
    width: 63px;
    height: 38px;
    transform: scale(1.5);
    margin-left: 16px;
  }
  .nav-logo,
  #cart-icon,
  #cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #cart-icon {
    margin-top: 15px;
  }
  #cart-info {
    font-size: 1.1rem;
    margin-top: 15px;
    font-weight: 500;
    margin-right: -5px;
  }

  /* Hero Section */
  .hero-container {
    flex-direction: column;
    margin-top: 1.75rem;
  }

  .hero-image {
    order: 1;
    width: 100%;
  }

  .hero-text {
    order: 2;
    margin-top: 2rem;
    margin-left: 16px;
  }

  .hero-title {
    font-size: 1.5rem;
    max-width: 22.5rem;
    width: 60%;
    height: 66px;
  }

  .hero-subtitle {
    font-size: 0.75rem;
    width: 22.5rem;
    height: 4.25rem;
    margin-top: 10px;
  }

  .plants-text {
    flex-direction: column;
    width: 370px;
    height: 117px;
  }

  .plants-container {
    margin-top: 0 auto;
  }

  .plants-title {
    font-size: 1.5rem;
    margin-top: -70px;
  }

  .plants-subtitle {
    font-size: 0.75rem;
    max-width: 336px;
    width: 77%;
    height: 68px;
    color: black;
    opacity: calc(50%);
  }

  .plants-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-width: 100vw;
    margin-top: -15px;
    justify-content: center;
    gap: 20px 1px;
  }

  .card-button {
    width: 90%;

    height: 50px;
    font-size: 0.875rem;
  }

  .plant-card img {
    max-width: 100vw;
    width: 90%;
  }
}
