@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Noto Serif";
}

/* >>>>>> Navbar Styles <<<<<< */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.nav-logo {
  max-width: 8.4rem;
  max-height: 5.1rem;
}

.nav-links {
  display: flex;
  text-align: center;
  gap: 3rem;
}

#home {
  color: black;
  opacity: calc(50%);
  font-family: "Inter";
  margin-top: 1.5px;
}

#shop {
  color: black;
  opacity: calc(50%);
  font-family: "Inter";
  margin-top: 1.5px;
}

#aboutus {
  color: black;
  opacity: calc(50%);
  font-family: "Inter";
  margin-top: 1.5px;
}

#cart-icon {
  margin-left: 3rem;
  width: 24px;
  height: 24px;
}

#cart-info {
  color: #252432;
  font-family: "Inter";
  margin-top: 1.5px;
  margin-left: -35px;
  font-weight: 500;
}

/* >>>>>> Hero Styles <<<<<< */
.orange {
  color: #e95a08;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  min-height: 464px;
  width: 100%;
  margin: 7rem auto;
}

.hero-text {
  flex: 1;
}

.hero-title {
  font-size: 4rem;
  max-width: 570px;
  max-height: 178px;
  width: 100%;
  height: 100%;
}

.hero-subtitle {
  font-family: "Inter";
  font-size: 1.375rem;
  font-weight: 300;
  max-width: 570px;
  max-height: 178px;
  width: 85%;
  height: 100%;
  margin-top: 13px;
  color: black;
  opacity: calc(50%);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* >>>>>> Plants Styles <<<<<< */
.plants-container {
  margin-top: -3.75rem;
}

.plants-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 71.25rem;
  max-height: 8.625rem;
  width: 32%;
  height: 100%;
}
.plants-title {
  font-size: 3.125em;
  font-family: "Noto Serif";
}

.plants-subtitle {
  font-family: "Inter";
  color: black;
  opacity: calc(50%);
  margin-top: 16px;
}

.plants-gallery {
  display: grid;
  max-width: 71.25rem;
  width: 100%;
  gap: 50px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 45px auto;
}

.plant-card {
  font-family: "Inter";
  text-align: center;
}

.card-title {
  font-family: "Inter";
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 20px;
}

.card-price {
  font-family: "Inter";
  font-size: 1.1rem;
  font-weight: 700;
}

.card-button {
  background-color: #e95a08;
  border: none;
  font-family: "Inter";
  color: white;
  max-width: 16.875rem;
  max-height: 3.125rem;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  font-size: 1.1rem;
}
